<ul id="category">
        <li class="dropdown">מוצרי חשמל
            <div class="dropdown-content">
                <ul>
                    <li>מקררים</li>
                    <li>מאווררים</li>
                    <li>תנורים</li>
                </ul>
            </div>
        </li>
        <li class="dropdown">מחשבים וסלולר
            <div class="dropdown-content">
                <ul>
                    <li>מוצרי חשמל</li>
                    <li>מחשבים וסלולר</li>
                    <li>טלוויזיות</li>
                </ul>
            </div>
        </li>
        <li class="dropdown">טלוויזיות
            <div class="dropdown-content">
                <ul>
                    <li>מוצרי חשמל</li>
                    <li>מחשבים וסלולר</li>
                    <li>טלוויזיות</li>
                </ul>
            </div>
        </li>
        <li class="dropdown">גיימינג
            <div class="dropdown-content">
                <ul>
                    <li>עכברים</li>
                    <li>מקלדות</li>
                    <li>אוזניות</li>
                </ul>
            </div>
        </li>
    </ul>