* {
    direction: rtl;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: right;
}

.login-container {
    background-color: white;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#signup-option {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

#signup-option a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

#signup-link {
    background-color: #6c757d;
    width: auto;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 10px;
}

#signup-link:hover {
    background-color: #5a6268;
}
